/* Home styles */
.home {
    background-color: #ECD6CA;
    overflow: hidden;
}

.intro {
    padding-top: 5%;
    width: 45%;
    margin: auto;
    font-size: 24px;
    line-height: 40px;
}

.greeting {
    margin: auto;
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: bold;
    text-align: right;
}

/* used for initial load animation */
.highlight {
    background-image: linear-gradient(to right, #ECD6CA 50%, #F1A839 50%);
    background-size: 200%;
    animation: 1.5s ease-out 0.4s 1 highlightIn;
    animation-fill-mode: forwards;
}

p {
    margin-bottom: 20px;
}

/* used for initial load animation */
@keyframes highlightIn {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -100%
    }
}

/* Responsive styles */
/*
@media screen and (max-width: 991px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }
}
*/

@media screen and (max-width: 768px) {
    .intro {
        width: auto;
        margin: 25px;
    }
}

/*
@media screen and (min-width: 768px) {
    .home__hero-section {
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 50px;
        margin-bottom: 100px;
    }
}
*/