
* {
  box-sizing: border-box;
}
.dmsans-bold-black-18px {
  color: black;
  font-size: 18px;
  font-weight: 700;
}
.dmsans-bold-black-60px {
  color: black;
  font-size: 60px;
  font-weight: 700;
}
.dmsans-bold-neptune-24px {
  color: var(--neptune);
  font-size: 24px;
  font-weight: 700;
}
.dmsans-regular-normal-black-24px {
  color: black;
  font-size: 24px;
  font-weight: 400;
}
.forager {
  background-color: white;
  height: 2726px;
  position: relative;
  width: 1440px;
}
.forager .about-10854 {
  background-color: transparent;
  height: 45px;
  left: 1224px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 28px;
  width: 75px;
}
.forager .body-container {
  background-color: var(--almond);
  height: 2726px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.forager .design-insights-1131 {
  background-color: transparent;
  height: 59px;
  left: 1000px;
  letter-spacing: 4.8px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 156px;
  width: 318px;
}
.forager .forager-1123 {
  background-color: transparent;
  height: 78px;
  left: 173px;
  letter-spacing: 0px;
  position: absolute;
  text-align: left;
  top: 296px;
  width: auto;
}
.forager .forager-pu-ence-11219 {
  background-color: transparent;
  height: auto;
  left: 177px;
  letter-spacing: 0px;
  line-height: 36px;
  position: absolute;
  text-align: left;
  top: 474px;
  width: 602px;
}
.forager .intro-11222 {
  background-color: transparent;
  height: 59px;
  left: 155px;
  letter-spacing: 4.8px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 156px;
  width: 136px;
}
.forager .problem-11224 {
  background-color: transparent;
  height: 59px;
  left: 331px;
  letter-spacing: 4.8px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 156px;
  width: 181px;
}
.forager .rectangle {
  background-color: transparent;
  height: 500px;
  left: 821px;
  position: absolute;
  top: 319px;
  width: 477px;
}
.forager .rectangle-1 {
  background-color: var(--almond);
  height: 100px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1440px;
}
.forager .rectangle-5 {
  background-color: white;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
  height: 688px;
  left: 77px;
  position: absolute;
  top: 131px;
  width: 1285px;
}
.forager .rectangle-6 {
  background-color: transparent;
  height: 768px;
  left: 37px;
  position: absolute;
  top: 779px;
  width: 1365px;
}
.forager .rectangle-7-C61RwL {
  background-color: white;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
  height: 1110px;
  left: 77px;
  position: absolute;
  top: 1507px;
  width: 1285px;
}
.forager .rectangle-7-VMr6Om {
  background-color: var(--neptune);
  height: 65px;
  left: 177px;
  position: absolute;
  top: 355px;
  width: 293px;
}
.forager .research-11225 {
  background-color: transparent;
  height: 59px;
  left: 776px;
  letter-spacing: 4.8px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 156px;
  width: 183px;
}
.forager .resume-10855 {
  background-color: transparent;
  height: 45px;
  left: 1311px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 28px;
  width: 97px;
}
.forager .solution-11223 {
  background-color: transparent;
  height: 59px;
  left: 553px;
  letter-spacing: 4.8px;
  line-height: 36px;
  position: absolute;
  text-align: center;
  top: 156px;
  width: 183px;
}
.forager .tam-nguyen-10856 {
  background-color: transparent;
  height: 54px;
  left: 43px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 168px;
}
.forager .work-10853 {
  background-color: transparent;
  height: 45px;
  left: 1125px;
  letter-spacing: 0px;
  position: absolute;
  text-align: center;
  top: 28px;
  width: 75px;
}
:root {
  --almond: rgba(235, 214, 202, 1);
  --neptune: rgba(117, 185, 190, 1);
}
.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a {
  text-decoration: none;
  display: contents;
}